.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.studentsNav {
  margin: 0.5em;
  text-decoration: none;
  color: #00abff;
}

.send-button {
  background-color: #00abff;
  color: white;
  margin: 1em;
  padding: 1em;
  width: 50%;
  border: none;
  border-radius: 1em;
  text-decoration: none;
}

.send-msg-button {
  background-color: white;
  color: #00abff;
  margin: 1em;
  padding: 1em;
  width: 50%;
  border: none;
  border-radius: 1em;
  text-decoration: none;
}

.log-out {
  background-color: #00abff;
  color: white;
  margin: 0.7em;
  padding: 0.7em;
  width: 50%;
  border: none;
  /* border-radius: 1em; */
  text-decoration: none;
}

.go-back {
  background-color: white;
  color: #00abff;
  margin: 0.7em;
  padding: 0.7em;
  width: 5%;
  border: none;
  /* border-radius: 1em; */
  text-decoration: none;
}

.back-go {
  background-color: #00abff;
  color: white;
  margin: 0.7em;
  padding: 0.7em;
  width: 5%;
  border: none;
  /* border-radius: 1em; */
  text-decoration: none;
}
